* {
    font-size: 1vw;
    font-weight: bold;
}

.bg-mint {
    background-color: #D8EEEB;
}

.cell {
    aspect-ratio: 1.2/1;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.square-cell {
    aspect-ratio: 1 / 1;
}

.cell,
.square-cell {
    border: 1px solid black;
}

.corner-img {
    width: 100%;
    height: 100%;
}

.inverted {
    transform: rotate(180deg);
}

.rotate-right {
    transform: rotate(90deg);
}

.rotate-left {
    transform: rotate(-90deg);
}

.background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(135deg);
}

.card {
    height: 10rem;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chance-img {
    background-color: orange;
}

.card-img {
    width: 8rem;
    aspect-ratio: 1 / 1;
}

.logo {
    margin-bottom: 7rem;
    margin-top: 7rem;
    width: 60rem;
}

.header {
    border: 1px solid black;
}

.bg-purple {
    background-color: purple;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-pink {
    background-color: palevioletred;
}

.bg-orange {
    background-color: orange;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.cell-img {
    width: 50%;
    height: 50%;
}